.container{
    width: 1312px;
    margin: auto;
}
header {
    position: sticky;
    top: 0px;
    background-color: pink;
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.nav_bar, .nav_bar ul, .header_icons{
    display: flex;
    align-items: center;
    gap: 60px;
}
